# CI specific options.
common:ci --color=no
common:ci --noshow_loading_progress
common:ci --noshow_progress
build:ci --verbose_failures
build:ci --sandbox_debug
build:ci --spawn_strategy=standalone
build:ci --genrule_strategy=standalone
test:ci --test_strategy=standalone
test:ci --test_output=errors
test:ci --test_verbose_timeout_warnings
